---
layout: base.njk
---
<a href="/">{{ site.back_home_text }}</a>

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time>
    
    {% if tags %}
    <span class="post-tags">
      {% for tag in tags %}
        {% if tag != "post" %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </span>
    {% endif %}
  </p>
  
  <h1>{{ title }}</h1>
  
  {{ content | safe }}
</article>