---
layout: base.njk
title: Tags
permalink: /tags/
---
<h1>Tags</h1>

<div class="tag-grid">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <div class="tag-card">
      <div class="tag-card-inner">
        <h2><a href="{{ tagUrl }}">{{ tag }}</a></h2>
        <span class="tag-count">{{ collections[tag].length }} post{% if collections[tag].length != 1 %}s{% endif %}</span>
      </div>
    </div>
  {% endfor %}
</div> 